body {
  font-family: Poppins;
  margin: 0;
}

.carousel {
  margin-top: -75px;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.carousel .list {
  position: absolute;
  top: 0;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
}

.carousel .item {
  position: absolute;
  color: white;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  font-size: 15px;
}

.carousel .item img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .item .intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.carousel .item.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.carousel .item.active .intro {
  opacity: 1;
  pointer-events: auto;
}

.carousel .item.next {
  transform: translateX(100%);
  z-index: 1;
  opacity: 0.8;
}

.carousel .item.prev {
  transform: translateX(-100%);
  z-index: 1;
  opacity: 0.8;
}

.arrows {
  position: absolute;
  bottom: 100px;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrows #next,
.arrows #prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  border: 1px solid #555;
}

.carousel::before {
  width: 500px;
  height: 300px;
  content: "";
  background-image: linear-gradient(45deg, #dc422a, blue);
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 10%;
  filter: blur(150px);
  top: 50%;
  left: 40%;
  transform: translate(-10%, -50%);
  transition: 1s;
}
