.app {
  text-align: center;
  height: 100vh;
  background-image: url("/home/alan/Desktop/nasa/exo-surfer/public/k2-bag.jpg"); /* Path to your image */
  background-size: cover;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #ffffff;
}
